#centralGame {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

#centralGame img {
    margin: 30px;
}

#botaoTimer {
    background-color: rgb(139, 139, 139);
    color: black;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    color: rgba(223, 223, 18, 0.911);
}

.wildEncouter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.cardPokemon {
    background-color: rgba(204, 204, 204, 0.26);
    display: flex;
    flex-direction: column;
    border-radius: 12%;
    padding: 10px;
    margin: 15px;
    max-width: 140px;
    min-width: 140px;
}

.cardPokemon img {
    display: flex;
    width: 100%;
    margin: 5px;
}

#catchThis:hover{
    color: blueviolet;
}