.login {
    height: 100%;
    display: flex;
    background: linear-gradient(174deg, rgba(2,0,36,1) 0%, rgba(75,30,130,1) 35%, rgba(0,212,255,1) 100%);
}

.img-login {
    height: 100%;
    transform: scale(0.8);  
    position: relative;
    left: 10%;
    top: 15%;     
}

.title {
    color: white;
    font-size: 40px;
    justify-content: center;
    display: flex;
}

.container-login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.input {
    width: 100%;
}

.entrar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sing-up {
    display: flex;
    justify-content: center;
}

.container-login input {
    background: #ccc;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgb(71, 70, 70);
    font-size: 1rem;
    border: 1px solid #211729;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 30px;
}

.entrar a{
  font-size: 16px;
}