<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéColector</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/PrincipalStyle.css">
    <link rel="stylesheet" href="/css/Login.css">
</head>
<body>
    <header class="cabecalho">
        <img class="smallLogo" src="../imgs/smalllogoPokeColector.png" alt="smallLogo"> 
        <nav>
            <ul class="nav-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/pokedex">Pokedex</a></li>
                <li><a href="./regras">Regras</a></li>
            </ul>
        </nav>
        <a class="cta" href="/login"><button>Login</button></a>
    </header>
    <div class="login">
        <img class="img-login" src="../imgs/backgroundLogin.png" alt="backgorund-login">
        <div class="container-login">
            <form action="/auth/login" method="POST">
                <h1 class="title">Login</h1>
    
                <h3 class="sub-title">Usuário</h3>
                <input class="input" name="username" type="text">
                
                <div>
                    <h3 class="sub-title">Senha</h3>
                    <input class="input" name="password" type="password">
                    <a class="link" href=""><u>Esqueci a senha</u></a>
                </div>

                <div class="entrar">
                    <button type="submit">Entrar</button>
                    <a class="link sing-up" href="/cadastro">Cadastre-se</a>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="bottomContainer">
            <div class="row">
                <div class="footerCol">
                    <h4>Sobre o Jogo</h4>
                    <ul>
                        <li><a href="/regras">Regras</a></li>
                        <li><a href="/pokedex">Pokédex</a></li>
                        <li><a href="/">Eventos</a></li>
                    </ul>
                </div>
                <div class="footerCol">
                    <h4>Aluno</h4>
                    <ul>
                        <li><a href="/thiago">Thiago Danilo</a></li>
                        <li><a href="https://github.com/BoltSheep">Git</a></li>
                    </ul>
                </div>
                <div class="footerCol">
                    <h4>Ajuda</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Opçao de pagamento</a></li>
                    </ul>
                </div>
                <div class="footerCol">
                    <h4>Redes Sociais</h4>
                    <div class="socialLinks">
                        <a href="https://www.facebook.com/thiagodanilo.souza/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/thidamp/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/thiago-danilo-souza-pereira-58a675184/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>